.navbar,
.navbar-link,
.navbar-brand{
    background-color: #373A3C;
}

.navbar-brand{
    font-family: lobster !important;
    color: white;
}

.nav-link{
    color: white;
    font-family: cabin;
}

.principal {
    width: 482px;
}

.principal-txt {
    width: 648;
}

.linea1{
    height: 5px;
    width: 50%;   
}

#ingre {
    list-style: none;
}